APP_URL=https://post-api.fortuneidn.local/

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DBNAME=fortune
MYSQL_USERNAME=root
MYSQL_PASSWORD=root


MONGODB_URI=mongodb://host.docker.internal:27017/?readPreference=primary&appname=MongoDB%20Compass&directConnection=true&ssl=false
MONGODB_DATABASE=fortune


CATEGORY_SECTION_TYPE=headline
SEARCH_RESULT_LIMIT=5
HEADER_MENU_LIMIT=9
RELATED_ARTICLES_LIMIT=6

LATEST_HOMEPAGE_MAIN_PER_PAGE_1=12
LATEST_HOMEPAGE_MAIN_PER_PAGE_2=9
LATEST_HOMEPAGE_MAIN_MAX_PAGE=10

LATEST_HOMEPAGE_TAG_PER_PAGE=6